{% assign mainProduct = all_products['fitra-activity-band']%}

<div class="featured-product">
  <h1>{{ mainProduct.title }}</h1>

  <div class="product-images">
    {% for image in mainProduct.images %}
      <img src="{{ image | img_url: 'large' }}" alt="{{ mainProduct.title }}">
    {% endfor %}
  </div>

  <div class="product-details">
    <div class="headline">
      <h2>{{ section.settings.main_heading }}</h2>
      <h3>{{ section.settings.sub_heading }}</h3>
    </div>
    <div class="product-description">
      {{ mainProduct.description }}
    </div>


<div class="details">
  <ul>
    {% for block in section.blocks %}
      {% if block.type == 'list_item' %}
        <li>{{ block.settings.list_text }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>







    {% form 'product', mainProduct %}
      <div class="price">
        {{ mainProduct.price | money }}
      </div>
      
      
      <label for="ProductSelect">{{ section.settings.color_label }}</label>
      <select name="id" id="ProductSelect">
        <option value="{{ mainProduct.variants[0].id }}">Orange</option>
        <option value="{{ mainProduct.variants[1].id }}">White</option>
        <option value="{{ mainProduct.variants[2].id }}">Gray</option>
        <option value="{{ mainProduct.variants[3].id }}">Black</option>
      </select>

      <button type="submit" name="add" class="add-to-cart">
        {{ section.settings.add_to_cart_text }} - {{ mainProduct.price | money_without_trailing_zeros }}
      </button>
    {% endform %}
  </div>
</div>





{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Hassle free fitness tracking"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "Information"
    },
    {
      "type": "text",
      "id": "color_label",
      "label": "Color Selector Label",
      "default": "Color"
    },
    {
      "type": "text",
      "id": "add_to_cart_text",
      "label": "Add to Cart Button Text",
      "default": "Add to Cart"
    }
  ],
  "blocks": [
    {
      "type": "list_item",
      "name": "List Item",
      "settings": [
        {
          "type": "text",
          "id": "list_text",
          "label": "List Item Text",
          "default": "Enter list item text"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Featured Product Title"
    }
  ]
}
{% endschema %} 